@for (var i = 0; i < Models.Count; i++)
{
    int index = i;

    @if (!Models[index].IsEditable)
    {
        <div class="schedule-grid schedule-card">
            <div class="schedule-card-image">
                <img class="schedule-image" src="@Models[index].ImageUrl" />
            </div>

            <div class="schedule-card-info text-center">
                <p class="schedule-card-text">RUSSIAN TITLE</p>
                <p class="empty">@Models[index].TitleRussian</p>
                 
                <p class="schedule-card-text">ROMAJI TITLE</p>
                <p class="empty">@Models[index].TitleRomaji</p>

                <p class="schedule-card-text">CURRENT EPISODE</p>
                <p>@Models[index].CurrentEpisode</p>

                <p class="schedule-card-text">COUNT EPISODES</p>
                <p class="empty">@Models[index].Episodes</p>

                <p class="schedule-card-text">RELEASE DATE</p>
                <p>@Models[index].ReleaseDate</p>

                <p class="schedule-card-text">STATUS</p>
                <p>@Models[index].Status</p>

                <p class="schedule-card-text">FORMAT</p>
                <p>@Models[index].Format</p>
            </div>

            <div class="schedule-card-buttons">
                <button class="btn btn-outline-primary" @onclick="() => Edit(Models[index])">Edit</button>
                <button class="btn btn-outline-secondary" @onclick="() => GetRussianTitle(index)">Get RU title</button>
                <button class="btn btn-outline-danger" @onclick="() => Remove(index)">Remove</button>
            </div>
        </div>
    }
    else
    {
        <EditForm class="schedule-grid schedule-card" Model="@Models[index]" OnSubmit="() => Save(index, Models[index])">
            <div class="schedule-card-edit">
                <div class="form-input">
                    <InputText @bind-Value="@Models[index].TitleRussian" id="floatingRussianTitle" placeholder=" " />
                    <label for="floatingRussianTitle">Russian Title</label>
                </div>

                <div class="form-input">
                    <InputText @bind-Value="@Models[index].TitleRomaji" id="floatingRomajiTitle" placeholder=" " />
                    <label for="floatingRomajiTitle">Romaji Title</label>
                </div>

                <div class="form-input">
                    <InputText @bind-Value="@Models[index].CurrentEpisode" id="floatingCurrentEpisode" placeholder=" " />
                    <label for="floatingCurrentEpisode">Current Episode</label>
                </div>

                <div class="form-input">
                    <InputNumber @bind-Value="@Models[index].Episodes" id="floatingCountEpisodes" placeholder=" " />
                    <label for="floatingCountEpisodes">Count Episodes</label>
                </div>

                <div class="form-input">
                    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="@Models[index].ReleaseDate" id="floatingReleaseDate" placeholder=" " />
                    <label for="floatingReleaseDate">Release Date</label>
                </div>

                <div class="form-input">
                    <InputText @bind-Value="@Models[index].ImageUrl" id="floatingImageUrl" placeholder=" " />
                    <label for="floatingImageUrl">Image URL</label>
                </div>

                <div class="form-input">
                    <InputSelect @bind-Value="@Models[index].Status" id="floatingStatus" placeholder=" ">
                        @foreach (var status in Enum.GetValues(typeof(Status)))
                        {
                            <option value="@status">@status</option>
                        }
                    </InputSelect>

                     <label for="floatingStatus">Status</label>
                </div>

                <div class="form-input">
                    <InputSelect @bind-Value="@Models[index].Format" id="floatingFormat" placeholder=" ">
                        @foreach (var format in Enum.GetValues(typeof(Format)))
                        {
                            <option value="@format">@format</option>
                        }
                    </InputSelect>

                    <label for="floatingFormat">Format</label>
                </div>
             </div>

            <div class="schedule-card-buttons">
                <button type="submit" class="btn btn-outline-success">Save</button>
            </div>
        </EditForm>
    }
}

@code 
{

    [Parameter]
    public System.Collections.ObjectModel.ObservableCollection<ScheduleModel> Models { get; set; } = new System.Collections.ObjectModel.ObservableCollection<ScheduleModel>();

    [Parameter]
    public EventCallback<int> OnGetRussianTitle { get; set; }

    [Parameter]
    public EventCallback<int> OnRemove { get; set; }

    [Parameter]
    public EventCallback<int> OnSave { get; set; }

    private int id;

    private void Edit(ScheduleModel model)
    {
        model.IsEditable = true;
    }

    private async Task Save(int id, ScheduleModel newModel)
    {
        newModel.IsEditable = false;
        Models[id] = newModel;

        await OnSave.InvokeAsync(id); 
    }

    private async Task Remove(int index)
    {
        Models.RemoveAt(index);

        await OnRemove.InvokeAsync(index);
    }

    private async Task GetRussianTitle(int id)
    {
        if (!string.IsNullOrEmpty(Models[id].TitleRomaji)) await OnGetRussianTitle.InvokeAsync(id);
    }
}
